* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    font-family: sans-serif;
}

/* To click on the button and not on the icon of mute */
i,
svg {
    pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad {
    background: #85C1E9;
}

.snare-pad {
    background: #BB8FCE;
}

.hihat-pad {
    background: #F1948A;
}

.kick-pad.active {
    background: #2E86C1;
}

.snare-pad.active {
    background: #8E44AD;
}

.hihat-pad.active {
    background: #E74C3C;
}

.sequencer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kick-track,
.snare-track,
.hihat-track {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    margin-top: 3rem;
}

.kick,
.snare,
.hihat {
    display: flex;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 3rem;
}

.controls button {
    padding: 0.5rem;
    border: none;
    background: #2E4053;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.pad {
    transition: all 0.5s ease;
}

.play {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: #2E4053;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
}

select {
    padding: 1rem;
    /* font-size: 1rem; */
    /* margin: 1rem; */
}

.mute.active {
    background: white;
    color: gray;
}

@keyframes playTrack {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

.mute .active {
    background: red;
}